services:
  pg_android_launcher:
    image: postgres:18
    container_name: pg_android_launcher
    restart: always
    shm_size: 128mb
    ports:
      - "127.0.0.1:5434:5432"     # local-only exposure (fix: internal port should be 5432)
    environment:
      POSTGRES_USER_FILE: /run/secrets/POSTGRES_USER
      POSTGRES_DB_FILE: /run/secrets/POSTGRES_DB
      POSTGRES_PASSWORD_FILE: /run/secrets/POSTGRES_PASSWORD
      # Do NOT put POSTGRES_PASSWORD in .env when using secrets
    secrets:
      - POSTGRES_PASSWORD
      - POSTGRES_USER
      - POSTGRES_DB
    volumes:
      - pg_android_launcher:/var/lib/postgresql/18/data
      - ./data/:/app/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U laucnher_db_user -d launcher"]
      interval: 5s
      timeout: 5s
      retries: 20
    networks:
      - db_net

volumes:
  pg_android_launcher:
  
  
networks:
  db_net:
    external: true

secrets:
  POSTGRES_PASSWORD:
    file: ./secrets/POSTGRES_PASSWORD
  POSTGRES_USER:
    file: ./secrets/POSTGRES_USER
  POSTGRES_DB:
    file: ./secrets/POSTGRES_DB